
// Culori de background pentru 2 teme
$primary: #8a2be2;
$secondary: #ff7f50;

// Culori de font
$body-color: #2c3e50;
$primary-text-emphasized: white;

// Dimensiuni de ecran
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 800px,
  lg: 1000px,
  xl: 1200px,
  xxl: 1400px
);

// Dimensiunea razelor de border
$border-radius: 1.5rem;

// Dimensiunea literelor headingurilor
$h1-font-size: 3.5rem;
$h2-font-size: 2.5rem;

// Familia de font implicita
$font-family-sans-serif: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$btn-padding-y: 15px;
$btn-padding-x: 30px;




// Etapa 6-2 Cerinta A: Raza si grosimea borderului la butoane date din variabile
$btn-border-width: 3px; 
$btn-border-radius: 12px; 

// Etapa 6-2 Cerinta F Schimba dimensiunea si culoarea bulinei de range
// Bulina cu 50% mai mare fata de font-size-ul html-ului
$form-range-thumb-width: 1.5rem; 
$form-range-thumb-height: 1.5rem; 

//Etapa 6-2 Schimb culoarea bulinei si a sliderului
$form-range-thumb-bg: #8a2be2; // Culoarea bulinei
$form-range-track-bg: #d3d3d3; // Culoarea barei pe care gliseaza




// Import bootstrap pentru a avea acces la variabilele si mixin-urile sale, dar si pentru a putea folosi grid-ul sau alte componente daca e nevoie
@import "../../node_modules/bootstrap/scss/bootstrap";