<!DOCTYPE html>
<html lang="ro">
<head>
    <title> Despre PC Kings </title>
    <meta name="description" content="Despre PC Kings">
    <meta name="keywords"
        content=" Despre PC Kings, despre pck, despre pckings, informatii PC Kings">
         <%- include('../fragmente/head.ejs') %>
</head>

<body id="top">
    <div id="watermark">Memu<br>Emanuel Nicolas</div>
    <%- include('../fragmente/header.ejs') %>
    <main>
        <h2>Despre noi</h2>
        <p>
            Bine ați venit la PC Kings, destinația ta de încredere pentru tot ce ține de componentele și accesoriile pentru PC-uri! Suntem o echipă pasionată de tehnologie și ne dedicăm să oferim clienților noștri cele mai bune produse și servicii din domeniu.
        </p>
        <p>
            La PC Kings, credem că fiecare utilizator merită un PC care să se potrivească perfect nevoilor sale, fie că este vorba de gaming, muncă sau divertisment. De aceea, oferim o gamă largă de componente de înaltă calitate, de la procesoare și plăci grafice până la memorie RAM și stocare, toate selectate cu grijă pentru a asigura performanță și fiabilitate.
        </p>
        <p>
            Echipa noastră este formată din experți în domeniu, gata să te ajute să găsești cele mai bune soluții pentru configurarea sau upgrade-ul PC-ului tău. Ne mândrim cu serviciul nostru de asistență clienți, care este întotdeauna pregătit să răspundă întrebărilor tale și să ofere sfaturi personalizate.
        </p>
        <p>
            La PC Kings, nu doar vindem componente, ci construim relații durabile cu clienții noștri. Ne străduim să oferim prețuri competitive și promoții atractive pentru a face tehnologia accesibilă tuturor. Indiferent dacă ești un gamer pasionat sau un profesionist care are nevoie de un PC puternic pentru muncă, suntem aici să te ajutăm să-ți atingi obiectivele tehnologice.
        </p>
    </main>
    <%- include('../fragmente/footer.ejs') %>
    <a href="#top" id="link-top" title="Revino la începutul paginii!">
    <div class="cerc-bkg"></div>
    <span class="sageata">&#8593;</span>
    </a>
</body>

</html>


