<footer id="contact">
        <!-- Cerinta 13c -->
        <p><a href="#top">Înapoi la începutul paginii</a></p> <br>
        <address>
            <strong>Contact PC Kings:</strong><br>
            <!-- Cerinta 18b -->
            Locație magazin:<br>
            <a href="https://www.google.com/maps/search/Facultatea+de+Matematica+si+Informatica+Bucuresti" target="_blank">
                Facultatea de Matematică și Informatică<br>
                Strada Academiei 14,<br>
                București
            </a><br><br>

        <!-- Bonus4 -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.843603417772!2d26.09885021552399!3d44.43628467910228!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff473e6d23fb%3A0xe54e2098dce8c16!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1700000000000!5m2!1sro!2sro" width="400" height="250" style="border:0; border-radius: 8px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> <br>

            <!-- Cerinta 18a -->
            Telefon: <a href="tel:+40712345678">0712 345 678</a><br>
            <!-- Cerinta 18c -->
            E-mail: <a href="mailto:contact@pckings.ro">contact@pckings.ro</a><br>
            <!-- Cerinta 18d -->
            Suport rapid: <a href="https://wa.me/40712345678" target="_blank">Dă-ne un mesaj pe WhatsApp</a>
        </address>
        <!-- Cerinta 19 -->
        <p>
            <small>
                Drepturi de autor &copy; <time datetime="2026-02-24">24 Feb 2026</time> PC Kings. Toate drepturile rezervate.
            </small>
        </p>
        <p id="banner-scolar">Acesta este un proiect școlar!</p>
    </footer>