<header>
        <h1>PC Kings</h1>
        <!-- <i class="fa-solid fa-crown"></i> -->
        <img src="/resurse/imagini/sigla.jpg" alt="sigla" width="300"/>
        <!-- Cerinta 13e -->
        <p>Descarca sigla noastra gratuit: <a href="/resurse/imagini/sigla.jpg" download="SiglaPCKings.jpg">Sigla PC Kings</a>.</p>
        <!-- Cerinta 8 -->
        <nav>
            <ul class="meniu"> 
                <li><a href="#welcome">Acasă</a>
                    <ul>
                        <li><a href="#promotii">Promoții</a></li>
                        <li><a href="#produse">Produse</a></li>
                        <li><a href="#anunturi">Anunțuri</a></li>
                        <li><a href="#tutoriale">Tutoriale PC</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </li>
             </ul>
        </nav>
    </header>