<nav class="bara-meniu">
    <input type="checkbox" id="buton-hamburger" style="display: none;">
    <label for="buton-hamburger" class="icon-hamburger">
    <div class="bara"></div>
    <div class="bara"></div>
    <div class="bara"></div>
</label>

    <ul class="meniu">
        <li>
            <a href="/">
                <i class="fa-solid fa-house"></i> 
                <span class="text-optiune">Acasă</span>
            </a>
        </li>
        <li>
            <a href="/magazin">
                <i class="fa-solid fa-shop"></i> 
                <span class="text-optiune">Magazin</span>
            </a>
            <ul class="submeniu">
                <li><a href="/produse">Produse PC</a></li>
                <li><a href="/promotii">Promoții de Sezon</a></li>
            </ul>
        </li>
        <li>
            <a href="#tutoriale">
                <i class="fa-solid fa-desktop"></i> 
                <span class="text-optiune">Tutoriale</span>
            </a>
            <ul class="submeniu">
                <li><a href="#hardware">Ghid Hardware</a></li>
                <li><a href="#software">Ghid Software</a></li>
            </ul>
        </li>
        <li>
            <a href="/contact">
                <i class="fa-solid fa-envelope"></i> 
                <span class="text-optiune">Contact</span>
            </a>
        </li>
    </ul>
</nav>